    <!-- Welcome Page Start -->
    <div class="wrapper bg-sm-white">
    	<div class="container-fluid">
        	<div class="login-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-login-box">
                        	<div class="white-login-inner">
                                <form>
                                    <div class="logo-big">
                                        <a href="#/"><img src="img/logo_white.png" alt=""></a> 
                                    </div>
                                    <h3 class="welcome-line" translate>Activate Account</h3>
                                    <div class="welocme-img-box">
                                        <div class="email-sent-check-box">
                                            <i class="fa fa-check"></i>
                                        </div>
                                       	<div class="email-sent-sms">
                                            <p><span translate>A was link sent to </span> <a href="mailto:{{store[1]}}">{{store[1]}}</a>
                                                <span translate>Please check your inbox and proceed to complete your account activation</span></p>
                                        </div>
                                    </div>
                                    <div class="login-btn-box">
                                        <a href="#/login" class="btn-red-big">Ok</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
