<body>
    
    <!-- Welcome Page Start -->
    <div class="wrapper bg-sm-white">
    	<div class="container-fluid">
        	<div class="login-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-login-box">
                        	<div class="white-login-inner">
                                <form>
                                    <div class="logo-big">
                                        <a href="#/"><img src="img/logo_white.png" alt=""></a> 
                                    </div>
                                    <h3 class="welcome-line">Activate Account</h3>
                                    <div class="login-form-box">
                                        <ul class="login-form-list">
                                            <li><i class="fa fa-user icon-user"></i> <input type="text" placeholder="ID Number" required></li>
                                            <li><i class="fa fa-lock icon-lock"></i> <input type="password" placeholder="Enter your PIN" required></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="login-btn-box">
                                        <a href="#/login" class="btn-red-big">Create PIN</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Page End -->
