
	<!-- Header Start -->
	<div class="wrapper header-bg header-fixed">
    	<header>
            <div class="container-fluid">
                <div class="row">
                	<div class="col-sm-5 loan-heading">
                    	<a href="#/" class="btn-page-back"><i class="fa fa-chevron-left"></i></a>
                    	<h2>Edit Payment Method</h2>
                    </div>
                    <div class="col-sm-2 header-logo">
                    	<a href="#/"><img src="img/logo_white.png" alt="Logo"></a>
                    </div>
                    
                </div>
            </div>
        </header>
    </div>
    <!-- Header End -->
    
    <!-- Loan Status Page Start -->
    <div class="wrapper header-mt75">
    	<div class="container-fluid">
        	<div class="loan-wapper">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                        <div class="loan-payment-box white-box">
                            <div class="loan-document-heading">
                                <h2>New bank account</h2>
                            </div>
                            <div class="payment-meth-box">
                                <div class="payment-icon-box">
                                	<i class="fa fa-university"></i>
                                </div>
                                <div class="payment-meth">
                                	<form>
                                        <input type="text" ng-model="number" placeholder="Enter digits here" numbers-only="numbers-only" ng-change="onTextChange()" required>
                                        <div class="payment-edit-btn">
                                            <button type="button" class="btn-graye">Save</button>
                                            <button type="button" class="btn-red">Accept</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Loan Status Page End -->
