<div class="wrapper bg-sm-white">
    	<div class="container-fluid">
        	<div class="login-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-login-box">
                        	<div class="white-login-inner">
                                <form>
                                	<div class="logo-big">
                                        <a href="#/"><img src="img/logo-big.png" alt=""></a> 
                                    </div>
                                    <h3 class="welcome-line">Customer Platform</h3>
                                    <h6 class="welcome-line">Pin Creation</h6>
                                    <div class="welocme-img-box">
                                    	<div class="email-sent-check-box">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <a href="#/createpin" class="btn-red-big">http://follow.me/pin/recover</a>
                                    </div>
                                    <div class="login-btn-box">
                                        <a href="#/emailpin" class="btn-red-big">PSD TO BE PROVIDED FOR THIS PAGE</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>