    <!-- Welcome Page Start -->
    <div class="wrapper bg-sm-white">
    	<div class="container-fluid">
        	<div class="login-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-login-box">
                        	<div class="white-login-inner">
                                <form ng-submit="pr.pinreset()" name="pinResetForm">
                                    <div class="logo-big" ng-controller="LoginCtrl">
                                        <a href="{{universalnavigation}}"><img src="img/logo_white.png" alt=""></a> 
                                    </div>
                                    <h3 class="welcome-line" translate>Pin Request</h3>
                                    <div class="welocme-img-box">
                                        <div class="usered-circle-box">
                                            <img src="img/login_user_img.png" alt="">
                                        </div>
                                        <h3></h3>
                                    </div>
                                   
                                    <div class="login-form-box">
                                        <ul class="login-form-list user-saved-list">
                                        	<li>
                                            	<input type="text" placeholder="{{'ID Number'|translate}}"  required ng-model="pr.user.id">
                                            </li>
                                            <li>
                                            	<input type="email" placeholder="{{'Please enter your email'|translate}}"  required ng-model="pr.user.email">
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="login-alert-box" ng-show="errorclass">
                                        <p class="login-danger"><i class="fa fa-warning"></i> {{errorMessage|translate}}</p>
                                    </div>
                                    <div class="login-btn-box" ng-switch on="pinResetBtn">
                                        <div ng-switch-when="submit">
                                             <button type="submit" class="btn-red-big" translate >Send PIN</button>
                                        </div>
                                        <div class="loading mb15" ng-switch-when="loading">
                                            <p><i class="fa fa-spinner fa-pulse"></i><span translate>Sending..</span></p>
                                        </div>
                                        <a href="#/login" class="btn-white-big" translate>Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Page End -->
