  
    <!-- Welcome Page Start -->
    <div class="wrapper bg-sm-white">
    	<div class="container-fluid">
        	<div class="login-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-login-box">
                        	<div class="white-login-inner">
                                <form>
                                    <div class="logo-big">
                                        <a href="#/"><img src="img/logo_white.png" alt=""></a> 
                                    </div>
                                    <h3 class="welcome-line" translate>Welcome to Customer Platform</h3>
                                    <div class="welocme-img-box">
                                        <img src="img/welcome_img.png" alt="">
                                    </div>
                                    <div class="login-btn-box">
                                        <a href="#/login" class="btn-red-big" translate>Login</a>
                                        <a href="#/activate" class="btn-white-big" translate>Activate Account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome Page End -->
